In [1]:
import numpy as np
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [2]:
order_df = pd.read_csv("Documents/DATA/orders.csv").sample(10000)

In [3]:
order_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
1925859,566353,115670,train,22,4,15,30.0
2660967,1232597,160181,prior,22,1,14,6.0
2734171,385489,164764,prior,1,0,13,NaN
1969739,1359043,118299,prior,6,4,7,3.0
420547,1132918,25303,prior,2,0,16,6.0

In [4]:
aisles_df = pd.read_csv("Documents/DATA/aisles.csv")
departments_df = pd.read_csv("Documents/DATA/departments.csv")
order_products_df = pd.read_csv("Documents/DATA/order_products.csv").sample(10000)
products_df = pd.read_csv("Documents/DATA/products.csv")

In [5]:
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [6]:
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [7]:
order_products_df.head()

          order_id  product_id  add_to_cart_order  reordered
29987727   3163026       31767                  5          0
12255050   1293522       16995                 16          0
26776864   2823624       12916                  8          1
20679839   2181579       42731                  9          1
13011645   1373445       28366                  4          1

In [8]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [9]:
try:
    conn = psycopg2.connect(dbname="ecom_project", user=' ', password=' ', port=' ')
except:
    print("connection was unsuccessful")

In [10]:
cur = conn.cursor()

In [11]:
from sqlalchemy import create_engine

In [12]:
engine = create_engine('postgresql+psycopg2://postgres:harsh@localhost/ecom_project')

In [13]:
cur.execute("""
CREATE TABLE aisles (
    aisle_id INTEGER PRIMARY KEY,
    ailse VARCHAR
)
""")

In [14]:
cur.execute("""
CREATE TABLE departments (
    department_id INTEGER PRIMARY KEY,
    department VARCHAR(255)
)
""")

In [15]:
cur.execute("""
CREATE TABLE products (
    product_id INTEGER PRIMARY KEY,
    product_name VARCHAR(255),
    aisle_id INTEGER,
    department_id INTEGER,
    FOREIGN KEY (aisle_id) REFERENCES aisles (aisle_id),
    FOREIGN KEY (department_id) REFERENCES departments (department_id)
)
""")

In [16]:
cur.execute("""
CREATE TABLE orders (
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    order_number INTEGER,
    order_dow INTEGER,
    order_hour_of_day INTEGER,
    days_since_prior_order INTEGER )
""")

In [17]:
cur.execute("""
CREATE TABLE order_products (
    order_id INTEGER,
    product_id INTEGER,
    add_to_cart_order INTEGER,
    reordered INTEGER,
    PRIMARY KEY (order_id, product_id),
    FOREIGN KEY (order_id) REFERENCES orders (order_id),
    FOREIGN KEY (product_id) REFERENCES products (product_id)
    )
""")

In [18]:
conn.commit()

In [19]:
order_df.drop('eval_set', inplace=True, axis=1)

In [21]:
aisles_df.to_sql('aisles', con=engine, if_exists='append', index=False)

134

In [22]:
departments_df.to_sql('departments', con=engine, if_exists='append', index=False)

21

In [23]:
products_df.to_sql('products', con=engine, if_exists='append', index=False)

688

In [24]:
order_df.to_sql('orders', con=engine, if_exists='append', index=False)

1000

In [30]:
invalid_orders = order_products_df[~order_products_df['order_id'].isin(order_df['order_id'])]

print("Invalid order_ids:", invalid_orders['order_id'].unique())
print("Count:", len(invalid_orders))

Invalid order_ids: [3163026 1293522 2823624 ... 1918673 1107756  317491]
Count: 9973

In [33]:
order_products_df = order_products_df[order_products_df['order_id'].isin(order_df['order_id'])]
order_products_df = order_products_df[order_products_df['product_id'].isin(products_df['product_id'])]

In [35]:
# Should be zero
print("Remaining bad order_ids:", order_products_df[~order_products_df['order_id'].isin(order_df['order_id'])].shape[0])

Remaining bad order_ids: 0

In [36]:
order_products_df.to_sql(
    'order_products',
    con=engine,
    if_exists='append',
    index=False
)

27